.fundo {
    background-image: url("https://st2.depositphotos.com/2333525/8183/v/450/depositphotos_81832796-stock-illustration-gold-music-notes-on-a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90.3vh;
    color: white;
    display: flex;
    flex-direction: row;
}



.dadosPessoais {
    border-radius: 30px;
    background-color: rgba(90, 83, 83, 0.900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 30vw;
    margin: auto;
}

.cadastrar {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    color: white;
    background-color: #40b7c9ba;
    width: 10vw;
    height: 6vh;
    align-self: center;
    margin-bottom: 10px;
}