.letreiro {
  /* background-color: #40b7c992; */
  background-image: linear-gradient(to right, #1a237e ,#40b7c992 40%);

    height: 6.6vh;
    color: #fff;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: top;
    width: 400rem;
  }

body{
  overflow-x: hidden;
}

.slide {
  display: flex;
  gap: 53rem;
  overflow: hidden;
  flex-direction: row;
    animation: textSlide 50s infinite linear;
}


@keyframes textSlide {
    0% {
        transform: translateX(0)
    } 
    100% {
        transform: translateX(-45%)
    }
}