.fundo {
    background-image: url("../assets/imgs/fundo-notas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90.3vh;
    color: white;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

.login {
    border-radius: 3vw;
    background-color: rgba(90, 83, 83, 0.900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    width: 30vw;
    margin: auto;
}

h4{
    color: #ffffff;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

h4:hover{
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    text-decoration: underline #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

.botao_logar {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #40b7c9ba;
    width: 120px;
    align-self: center;
    margin-top: 5px;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: 9px;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
    background-color: transparent;
    font-family: "Montserrat";
    font-size: 1.5vw;
    border: 1px solid black;
    color: white;
    width: 20vw;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
}

input::placeholder {
    color: white;
}
h4{
    cursor: pointer; 
  }